{% extends "base.html" %}

{% block title %}Головна{% endblock %}

{% block content %}
    <section id="welcome">
        <h2>Ласкаво просимо на мій сайт!</h2>
        <p>Це мій персональний веб-сайт, для виконання курсу лабораторних робіт з використанням фреймворку Flask.</p>
    </section>

    <section id="highlights">
        <h3>Що ви можете знайти тут:</h3>
        <ul>
            <li><strong>Резюме:</strong> Перелік моїх навичок, досвіду та освіти.</li>
            <li><strong>Проекти:</strong> Опис проектів, над якими я працював.</li>
            <li><strong>Контакти:</strong> Способи зв’язатися зі мною.</li>
        </ul>
    </section>
{% endblock %}
