{% extends "base.html" %}

{% block title %}Контакти{% endblock %}

{% block content %}
    <section id="contact-info">
        <h2>Контактна інформація</h2>
        <p>Зв'яжіться зі мною за наступними каналами:</p>
        <ul>
            <li><strong>Електронна пошта:</strong> yurii.bakai.22@pnu.edu.ua</li>
            <li><strong>Телефон:</strong> +380 (12) 345 67 89</li>
            <li><strong>GitHub:</strong> <a href="https://github.com/bakaipnu" target="_blank">github</a></li>
        </ul>
    </section>
{% endblock %}